
<h2>Produtos cadastrados</h2>

<mat-list>
	<mat-list-item *ngFor="let prod of products">
		<h3 matLine>#{{prod.productCode}} | {{prod.name}} </h3>
    <p matLine>
      <span> Produto {{prod.fabrication}} </span>
    </p>
    <p matLine>
      <span> Tamanho do produto: {{prod.size}} </span>
    </p>
    <p matLine>
      <span> Valor: R{{prod.value | currency}} </span>
    </p>
    <button mat-icon-button (click)="confirmDialog(prod.id!)">
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-icon-button (click)="editProduct(prod.id!)">
      <mat-icon>edit</mat-icon>
    </button>	
    	
		<mat-divider></mat-divider>
	</mat-list-item>
 </mat-list>